---
import { Image } from "astro:assets";
const images = await Astro.glob('../assets/gallery/*.{jpg,jpeg}');
---

<section class="container" id="gallery">
    <!-- <h1>Наша команда</h1> -->
    <p>
        У нас есть всё для чистки и ремонта твоей обуви. Наши мастера не только вернут обуви её первоначальный вид, но и придадут ей свой особенный стиль!
    </p>

    <div class="gallery columns-3xs gap-4 ">
        {
            images.map((image) => (
            <Image src={image.default} alt="" height={1200} />
            ))
        }
    </section>

    <style lang="scss">
        .gallery {
            img {
                border-radius: 0.5rem;
                width: 100%;
                height: fit-content;
                margin-bottom: 1rem;
                // margin-bottom: 0.5rem;
            }
        }
    </style>

    <script>
        import mediumZoom from "medium-zoom";
        mediumZoom("img", {background: "var(--image-bg)", margin: 8})
    </script>

</div>