---
import HeaderLink from "./HeaderLink.astro";
import DarkModeToggle from "./DarkModeToggle.astro";
import Nav from "./Nav.astro";

---
<div
id="mobile-menu"
class="hide-menu fixed top-0 left-0 w-1/2 h-full transition-transform bg-black/75 border-primary-blue z-50"
>
<div class="bg-bg-body  h-full drop-shadow-2xl">
  <div class="container  pt-4 ">
    <div class="flex gap-4 justify-end">

      <DarkModeToggle  />
      <button id="mobile-menu-close" class=" xml-[1px] text-4xl">
        <i
        class="fa-solid fa-xmark"
        aria-hidden="true"
        title="Close mobile menu"></i>
        <span class="fa-sr-only">Close mobile menu</span>
      </button>
      <div class="visible md:invisible">

      </div>
    </div>
    <ul class="unset flex flex-col text-text-bold gap-4 [&>li]:p-0  pt-24" id="mob_m">
      <Nav />
    </ul>
  </div>
</div>
</div>

<script>
  // @ts-nocheck
  document.querySelector("#mobile-menu-open").addEventListener("click", () => {
    const menuElem = document.querySelector("#mobile-menu");
    menuElem.classList.remove("hide-menu");
    menuElem.classList.add("show-menu");
    // document.body.style.overflow = "hidden";
  });

  document.querySelector("#mobile-menu-close").addEventListener("click", () => {
    const menuElem = document.querySelector("#mobile-menu");
    menuElem.classList.remove("show-menu");
    menuElem.classList.add("hide-menu");
    // document.body.style.overflow = "auto";
  });
  document.querySelector("#mob_m").addEventListener("click", () => {
    const menuElem = document.querySelector("#mobile-menu");

    menuElem.classList.remove("show-menu");
    menuElem.classList.add("hide-menu");
  })
</script>

<style>
  .hide-menu {
    transform: translateX(200%);
  }
  .show-menu {
    transform: translateX(100%);
  }
</style>
