---
import HeaderLink from "./HeaderLink.astro";
---

<Fragment>
  <li><HeaderLink href="#services">Услуги</HeaderLink></li>
  <li><HeaderLink href="#reviews">Отзывы</HeaderLink></li>
  <li><HeaderLink href="#advantages">Преимущества</HeaderLink></li>
  <li><HeaderLink href="#scheme">Схема работы</HeaderLink></li>
  <li><HeaderLink href="#contacts">Контакты</HeaderLink></li>
  <li><HeaderLink href="#gallery">Галлерея</HeaderLink></li>
</Fragment>



